<h2>新規登録</h2>

<%= form_with model: @user, url: user_registration_path, local: true do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :表示名 %>
    <%= f.text_field :name,autofocus: true, placeholder: "ニックネームなど" %>
  </div>

  <div class="field">
    <%= f.label :メールアドレス %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "campage@example.com" %>
  </div>

  <div class="field">
    <%= f.label :電話番号（ハイフンなし） %>
    <%= f.text_field :phone_number,autofocus: true, placeholder: "00000000000" %>
  </div>

  <div class="field">
    <%= f.label :パスワード %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> 文字以上)</em>
    <% end %>
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :パスワード（確認用） %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "登録" %>
  </div>
<% end %>

<p>既に会員の方は</p>
<%= render "devise/shared/links" %>
