<% visiter = notification.visiter %>
<% visited = notification.visited %>

<div class="notification-user-name">
  <%= link_to user_path(visiter) do %>
    <%= attachment_image_tag visiter, :profile_image, size: '50x50', fallback: "no_image.jpg" %>
    <%= visiter.name %>
  <% end %>
  <%= "さんが" %>
  
  <!--アクションごとに表示する内容を記載している。-->
  <% case notification.action %>
    <% when 'follow' then %>
      <%= "あなたをフォローしました" %>
    <% when 'like' then %>
      <%= link_to 'あなたの投稿', notification.post %>
      <%= "にいいねしました" %>
    <% when 'comment' then %>
      <% if notification.post.user_id == visited_id %>
        <%= link_to "あなたの投稿", notification.post %>
      <% else %>
        <%= link_to post_path(notification.post) do %>
          <%= attachment_image_tag notification.post.user, :profile_image, size: '50x50', fallback: "no_image.jpg" %>
          <%= notification.post.user.name %>
          <%= "さんの投稿" %>
        <% end %>
      <% end %>
      <%= "にコメントしました" %>
      <p>
        <%= Comment.find_by(id: notification.comment_id)&.commnet %>
      </p>
    <% when 'dm' then%>
      <%= "あなたにDMを送りました" %>
  <% end %>
  <div>
    <i class="far fa-clock clock-icon"></i>
    <%= time_ago_in_words(notification.created_at).upcase %>前
  </div>
</div>