<div class="container">
  <div class="d-flex flex-column align-items-center follow-box">
    <h4>フォロー一覧</h4>
    <table class="table d-flex justify-content-center">
      <% @users.each do |user| %>
        <tr>
          <td class="follow-user-name">
            <%= link_to user_path(user.id) do %>
              <%= attachment_image_tag user, :profile_image, size: '50x50', fallback: "no_image.jpg" %>
              <%= user.name %>
            <% end %>
          </td>
          <td>
            <% unless current_user == user %>
              <div class="relationship">
                <%= render "relationships/button", user: user %>
              </div>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
    <div class="row d-flex justify-content-center">
      <%= paginate @users, theme: 'twitter-bootstrap-4' %>
    </div>
  </div>
</div>