<div class="container">
  <div class="contact-title">
    <h3>お問い合わせフォーム</h3>
  </div>
  <!--urlを確認画面のurlにすることで、データを確認画面に送っている。-->
  <%= form_with model: @contact, url: confirm_contacts_path do |f| %>
    <div class="contact_error">
      <%= render 'layouts/error_messages', model: f.object %>
    </div>
    <div class="form-group">
      <%= f.label :お名前 %>
      <%= f.text_field :name, autofoucus: true, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :メールアドレス %>
      <%= f.email_field :email, autofoucus: true, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :電話番号（ハイフンなし） %>
      <%= f.text_field :phone_number, autofoucus: true, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :お問い合わせ内容 %>
      <%= f.text_area :body, autofoucus: true, size: '10x10', class: 'form-control' %>
    </div>
    <div class="contactbtn">
      <%= f.submit "入力内容確認" %>
    </div>
  <% end %>
</div>