<% posts.each do |post| %>
  <div class= "col-lg-3 d-flex flex-column postranking">
    <div class="ranking-user-name">
      <%= link_to user_path(post.user) do %>
        <%= attachment_image_tag post.user, :profile_image, size: '50x50', fallback: "no_image.jpg" %>
        <%= post.user.name %>
      <% end %>
    </div>
    <div class="mb-auto ranking-post">
      <% post.post_images.first(1).each do |image| %>
      <%= link_to post_path(post.id) do %>
        <%= attachment_image_tag image, :image %>
      <% end %>
    <% end %>
    </div>
    <div>
      <%= render "likes/like", post: post %>
    </div>
  </div>
<% end %>