<% posts_pv_ranking.each do |post| %>
  <div>
    <%= link_to user_path(post.user.id) do %>
      <%= attachment_image_tag post.user, :profile_image, size: '50x50', fallback: "no_image.jpg" %>
      <%= post.user.name %>
    <% end %>
    <div>
      <%= post.title %>
    </div>
  </div>
  <div class="mypage">
    <% post.post_images.first(1).each do |image| %>
      <%= link_to post_path(post.id) do %>
        <%= attachment_image_tag image, :image %>
      <% end %>
    <% end %>
　</div>
　<div>
　  <%= post.impressions_count %>
　</div>
<% end %>