<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <%= attachment_image_tag current_user, :profile_image, size: '50x50', fallback: "no_image.jpg" %>
      <%= @post.name %>
    </div>
    <div class="col-lg-9">
      <% @posts.each do |post| %>
        <div>
          <%= attachment_image_tag post.user, :profile_image, size: '50x50', fallback: "no_image.jpg" %>
          <%= post.user.name %>
        </div>
        <div>
          <%= post.title %>
        </div>
        <div class="slick" style="width: 500px;">
          <% post.post_images.each do |image| %>
            <%= link_to post_path(image.post.id) do %>
              <%= attachment_image_tag image, :image, style: "width: 100%" %>
            <% end %>
          <% end %>
        </div>
        <div>
          <%= post.body %>
        </div>
      <% end %>
    </div>
  </div>
</div>

