<div class="container">
  <div class="row d-flex justify-content-center">
    <%= form_with model: @post, local: true do |f| %>
      <div class="col d-inline-flex flex-column align-items-center postnew">
        <div class="postnew-title">
          <h3>新規登録</h3>
        </div>
        <div id="preview"></div>
        <div class="image-form">
          <%= f.attachment_field :post_images_images, multiple: true, onchange: "loadImage(this);" %>
          <!--multiple: trueが画像複数投稿する際に必要になる。-->
        </div>
        <div class="title-form">
          <%= f.text_field :title, placeholder: "キャンプ場or施設名" %>
        </div>
        <div class="body-form">
          <%= f.text_area :body, placeholder: "道具の紹介や施設の紹介など" %>
        </div>
        <div　class="botton-form">
          <%= f.submit "シェア",  class: "share-botton" %>
        </div>
      </div>
    <% end %>
  </div>
</div>