<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <table>
        <tr>
          <th>
            <%= attachment_image_tag @post.user, :profile_image, size: '50x50', fallback: "no_image.jpg" %>
            <%= @post.user.name %>
            </th>
        </tr>
        <tr>
          <th><%= @post.user.introduction %></th>
        </tr>
        <% if @post.user == current_user %>
          <tr>
            <th>
              <%= link_to "投稿内容の編集", edit_post_path(@post.id) %>
            </th>
          </tr>
          <tr>
            <th>
              <%= link_to "投稿を削除", post_path(@post), method: :delete %>
            </th>
          </tr>
        <% else %>
          <tr>
            <th>フォローする</th>
          </tr>
        <% end %>
      </table>
    </div>
    <div class="col-lg-5">
      <div>
        <%= @post.title %>
      </div>
      <div class="slick" style="width: 100%;">
        <% @post.post_images.each do |image| %>
          <%= attachment_image_tag image, :image, style: "width: 100%" %>
        <% end %>
      </div>
      <div>
        <%= @post.body %>
      </div>
    </div>
    <div class="col-lg-4">
      <!--投稿に紐付いたコメントの数を表示-->
      <h2>コメント一覧:<%= @post.comments.count %>件</h2>
      <% @post.comments.each do |comment| %>
        <div>
          <%= attachment_image_tag comment.user, :profile_image, size: '50x50', fallback: "no_image.jpg" %>
          <%= comment.user.name %>
        </div>
        <div>
          <%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.comment %>
          <% if comment.user == current_user %>
            <%= link_to "削除", post_comment_path(comment.post, comment), method: :delete %>
          <% end %>
        </div>
      <% end %>
      <div>
        <!--コメントはpostに紐付いたcommentであるため2つのIDの情報が必要になります。-->
        <%= form_with(model:[@post, @comment], local: true) do |f| %>
          <%= f.text_area :comment, rows:'5',placeholder: "コメントを入力" %>
          <%= f.submit "送信" %>
        <% end %>
      </div>
    </div>
  </div>
</div>