<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <div>
        <%= link_to user_path(@post.user.id) do %>
          <%= attachment_image_tag @post.user, :profile_image, size: '50x50', fallback: "no_image.jpg" %>
        <% end %>
        <%= @post.user.name %>
      </div>
      <div>
        <%= @post.user.introduction %>
      </div>
      <% if @post.user == current_user %>
        <div>
          <%= link_to "投稿内容の編集", edit_post_path(@post.id) %>
        </div>
        <div>
          <%= link_to "投稿を削除", post_path(@post), method: :delete %>
        </div>
      <% else %>
        <div>
          <%= link_to "フォロー中", follows_user_path(@user.id) %>
          <%= @following_users.count %>
        </div>
        <div>
          <%= link_to "フォロワー", followers_user_path(@user.id) %>
          <%= @follower_users.count %>
        </div>
        <% if current_user.following?(@user) %>
          <div>
            <%= link_to "フォロー外す", user_relationships_path(@user.id), method: :delete %>
          </div>
        <% else %>
          <div>
            <%= link_to "フォローする", user_relationships_path(@user.id), method: :POST %>
          </div>
        <% end %>
        <div>
          DMボタン
        </div>
      <% end %>
    </div>
    <div class="col-lg-5">
      <div>
        <%= @post.title %>
      </div>
      <div class="slick" style="width: 100%;">
        <% @post.post_images.each do |image| %>
          <%= attachment_image_tag image, :image, style: "width: 100%" %>
        <% end %>
      </div>
      <!--どの投稿も同じ部分テンプレートを使うので、グッドを押すと全ての投稿にグッドがついてしまうので、-->
      <!--部分テンプレート自体にidをつけることで、投稿ごとにグッドをすることができる。-->
      <div class="like_btn_<%= @post.id %>">
        <%= render "likes/like", post: @post %>
      </div>
      <div>
        <%= @post.body %>
      </div>
    </div>
    <div class="col-lg-4">
      <!--jsファイルに処理を記述するためにクラス名を記載-->
      <div class="comments_area">
        <!--commentsフォルダの_comments.html.erbを呼び、データを渡している。-->
        <%= render 'comments/comments', post: @post %>
      </div>
      <div>
        <!--commentsフォルダの_form.html.erbを呼び、データを渡している。-->
        <%= render 'comments/form', post: @post, comment: @comment %>
      </div>
    </div>
  </div>
</div>