<!DOCTYPE html>
<html>
  <head>
    <title>Campage</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>Campage</h1>
      <% if user_signed_in? %>
        <ul class="nav">
          <li>
            <%= link_to "POSTSLIST", posts_path %>
          </li>
          <li>
            <%= link_to "RANKING", posts_ranking_path %>
          </li>
          <li>
            <%= link_to "CONTACT", new_contacts_path %>
          </li>
          <li>
            <%= link_to "新規登録", new_post_path %>
          </li>
          <li>通知</li>
          <li>
            <%= link_to "マイページ", user_path(current_user) %>
          </li>
        </ul>
        <!--ログインしていなくて、トップページ、新規登録ページ、ログインページの場合の処理-->
      <% elsif current_page?(root_path) || current_page?(new_user_session_path) || current_page?(new_user_registration_path) %>
        <ul class="nav">
          <li>
            <%=link_to "ABOUT", about_path %>
          </li>
          <li>
            <%= link_to "POSTSLIST", posts_path %>
          </li>
          <li>
            <%= link_to "RANKING", posts_ranking_path %>
          </li>
          <li>
            <%= link_to "CONTACT", new_contacts_path %>
          </li>
        </ul>
      <% else %>
        <ul class="nav">
          <li>
            <%=link_to "ABOUT", about_path %>
          </li>
          <li>
            <%= link_to "POSTSLIST", posts_path %>
          </li>
          <li>
            <%= link_to "RANKING", posts_ranking_path %>
          </li>
          <li>
            <%= link_to "CONTACT", new_contacts_path %>
          </li>
          <li>
            <%= link_to "SIGNUP", new_user_registration_path %>
          </li>
          <li>
            <%= link_to "LOGIN", new_user_session_path %>
          </li>
        </ul>
      <%end%>
    </header>
    <%= yield %>
  </body>
</html>
